@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: <It is from tailwindcss, shut up> */
@theme {
	--color-primary: #3b7200;
	--color-secundary: #80ad51;
	--color-background: #f6f6f6;
}

/* Modo Escuro */
@layer base {
	:root {
		color-scheme: light;
	}

	.dark {
		color-scheme: dark;
	}

	.dark {
		@apply bg-gray-900 text-gray-100;
	}
}

@keyframes dropMarker {
	0% {
		transform: translateY(-200px) scaleY(0.9);
		opacity: 0;
	}
	5% {
		opacity: 0.7;
	}
	50% {
		transform: translateY(0px) scaleY(1);
		opacity: 1;
	}
	65% {
		transform: translateY(-17px) scaleY(0.9);
		opacity: 1;
	}
	75% {
		transform: translateY(-22px) scaleY(0.9);
		opacity: 1;
	}
	100% {
		transform: translateY(0px) scaleY(1);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@layer utilities {
	.animate-in {
		animation: slideInFromRight 0.3s ease-out;
	}

	.fade-in {
		animation: fadeIn 0.3s ease-out;
	}

	.slide-in-from-right-full {
		animation: slideInFromRight 0.3s ease-out;
	}

	.duration-300 {
		animation-duration: 300ms;
	}
}
